/*RESET CSS */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

html, body {
  display: block;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
  background-size: auto; }

h1, h2, h3, .form-control, .btn, .my-nav {
  text-transform: uppercase;
}

/*Header*/
.my-nav {
	position: absolute;
	width: 100%;
  z-index: 999;
}

.main-brand {
  color: #FB4446;
  font-size: 500px;
}

.my-nav a {color: #FB4446;}
.my-nav a:hover {
  color:white;
  background-color:#FB4446;
}

.my-nav .navbar-brand {
  font-size: 40px;
  font-weight: bold;
}

.navbar-brand strong {color: white;}

.title {
  border-left: 5px solid #FB4446;
  margin-left: 40px;
  padding-left: 10px;
}

.form-inline .form-search {
  width: 250px !important;
  height: 28px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  font-size: 10px;
 }
 .form-inline .form-search:focus {
    background: rgba(0, 0, 0, 0.5);
    border:none;
}

.form-inline .fa-search {
  position: absolute;
    right: 29px;
}

.big-title{
  width: 100%;
  position: absolute;
  text-align: center;
  z-index: 20;
  top: 300px;
  color: white;
}

.big-title h1 strong{
  color: #FB4446;
}

.subscription {
	background-color: #FB4446;
	padding-top: 8px;
	padding-left: 20px;
}

.subscription p {
	display: inline-block;
	padding-right: 20px;
}

.modal-body{
  text-align: center;
}

.modal-footer {
  display:flex !important;
  justify-content: space-around !important;
}

/*Main-movies & Tv Shows*/
.main-movies {
	margin-top: 25px; 
  margin-bottom: 25px;
}

.card-deck {
	border: 0.5px solid lightgrey;
	padding-top: 10px;
	padding-bottom: 5px;
}

.card-title {
	font-size: 12px;
	text-align: center;
}

.card-left {
	font-size: 11px;
	text-align: left;
	position: absolute;
}

.card-right {
	font-size: 11px;
	text-align: right;
	font-weight: bold;
}

.btn-group {
  margin-left: 65px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.btn-container {
  text-align: center;
}

.btnplus {
  margin-top: 10px;
  margin-bottom: 10px;
}

#collapseMore, #collapseMoreTv {
  margin-left: 90px;
  margin-right: 90px;
}

.featured-Tvshows {margin-top: 20px;}

/*Social Media*/
.fl-fl {
  position: fixed;
  border-radius: 0 25px 25px 0;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 4px;
  width: 190px;
  left: -160px;
  z-index: 1000;
  font: normal normal 10px Arial;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
.fab {
  font-size: 20px;
  color: #fff;
  padding: 10px 0;
  width: 40px;
  margin-right: 12px;
}
.fl-fl:hover {
  left: 0;
}
.fl-fl a {
  color: #fff !important;
  text-decoration: none;
  text-align: center;
  line-height: 40px!important;
  vertical-align: top!important;
}
.float-fb {
  top: 215px;
  background-color: #3f5e94;
}
.float-tw {
  top: 160px;
  background-color:#16abf8;
}
.float-gp {
  top: 325px;
  background-color:#da4b34;
}
.float-ig {
  top: 270px;
  background: #ff346d;
}


/*Shop movies*/
.shopmovies-container {
  margin-top: 20px;
}

.mainrow {
  margin-left: 35px !important;
  margin-right: 10px !important;
}

.card-shopmovies {
  border: none;
}

.card-trailer p {color: #FB4446;}

.small-arrows {
  position: absolute;
  left: 350px;
}

/*Form*/
.full-form {
  position: relative;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: -100px;
  background-color: white;
  z-index: 10;
  padding-bottom: 25px;
  align-content: center;
  padding-left: 5px;
  padding-right: 12px;
}

.form-control {
  margin: 5px;
}

.form-message {
  height: 100px;
}


/*Footer*/
footer {
  padding-top: 50px;
  background-color: black;
  z-index: 2;
}

footer p {text-transform: uppercase;}

footer a {color: white;}
footer a:hover {color: white;}

.far {
  border-radius: 50%;
  border: 3px solid #FB4446;
  position: absolute;
  bottom: 20px;
  left: 1200px;
}

.subscribe {
  padding-top: 60px;
  text-align: center;
  color: #FB4446;
}

.form-subscribe {
  width: 400px;
  height: 35px;
}

.col-dates {
  margin-left: 20px;
}
.col-img {
  align-items: flex-start;
}

.connect {
  text-align: center;
  color: white;
}

.connect-socialmedia {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

